<a href="https://colab.research.google.com/github/Hanifanur18/Data_analis/blob/main/Google_Apps_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Preparation**

In [1]:
import pandas as pd

In [2]:
file_url = 'https://raw.githubusercontent.com/Hanifanur18/Data_analis/main/GoogleApps.csv'
df = pd.read_csv(file_url)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             7352 non-null   object
 1   Category        7352 non-null   object
 2   Rating          7352 non-null   float64
 3   Reviews         7352 non-null   int64
 4   Size            7352 non-null   float64
 5   Installs        7352 non-null   float64
 6   Type            7352 non-null   object
 7   Price           7352 non-null   float64
 8   Content Rating  7352 non-null   object
 9   Last Updated    7352 non-null   object
 10  Current Ver     7352 non-null   object
 11  Android Ver     7352 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 689.4+ KB
None

# **Data Exploration**

In [4]:
# How many app in business category ?
a = df['Category'].value_counts()
print(a['BUSINESS'])

246

In [5]:
# What is the rasio between App for teen and App for everyone 10+, round to the nearest tenth
b = df['Content Rating'].value_counts()
print(round(b.loc['Teen']/b.loc['Everyone 10+'],2))

2.73

In [6]:
# What is the average rating of paid apps and the difference between rating for paid and free apps
c = df.groupby(by = 'Type')['Rating'].mean()
print(round(c['Paid'],2))
print(round(c['Paid']-c['Free'],2))

4.25
0.08

In [7]:
# What is maximum and minimum size of comics category
d = df.groupby(by = 'Category')['Size'].agg(['max', 'min'])
print(d.loc['COMICS'])

max    40.000000
min     0.433594
Name: COMICS, dtype: float64

In [8]:
# What is the min, median, and max price of paid apps for different target audience
e = df[df['Type']== 'Paid'].groupby(by = 'Content Rating')['Price'].agg(['min', 'median', 'max'])
print(e)

                 min  median     max
Content Rating
Everyone        0.99    2.99  400.00
Everyone 10+    0.99    2.99   19.99
Teen            0.99    4.38  399.99

In [9]:
f = df[df['Type'] == 'Paid'].pivot_table(columns = 'Content Rating', index = 'Category', values = 'Reviews', aggfunc = 'mean')
print(f)

Content Rating           Everyone  Everyone 10+          Teen
Category
ART_AND_DESIGN         722.000000           NaN           NaN
BOOKS_AND_REFERENCE    234.285714           NaN           NaN
BUSINESS              4683.900000           NaN           NaN
COMMUNICATION          724.833333           NaN           NaN
DATING                  57.000000           NaN           NaN
EDUCATION             8661.250000           NaN           NaN
FAMILY                6827.072727  16016.210526  10902.722222
FINANCE               1922.416667           NaN    129.000000
FOOD_AND_DRINK        1268.000000           NaN           NaN
GAME                  9394.275000  10428.000000  15520.782609
HEALTH_AND_FITNESS    2653.125000           NaN           NaN
LIFESTYLE             2609.428571           NaN     12.000000
MAPS_AND_NAVIGATION    239.500000           NaN           NaN
MEDICAL                303.347222    119.666667    104.000000
NEWS_AND_MAGAZINES      58.000000           NaN           NaN
PARENTING             8343.000000           NaN           NaN
PERSONALIZATION       6367.539683           NaN           NaN
PHOTOGRAPHY          12885.733333           NaN           NaN
PRODUCTIVITY          9000.384615           NaN           NaN
SHOPPING               242.000000           NaN           NaN
SOCIAL                 121.000000           NaN           NaN
SPORTS                6833.300000           NaN           NaN
TOOLS                 1651.890909           NaN           NaN
TRAVEL_AND_LOCAL       293.500000           NaN           NaN
VIDEO_PLAYERS          167.000000           NaN           NaN
WEATHER               9972.166667           NaN           NaN